.feature-card {
  width: 300px;
  height: 447px;
  padding: 63px 40px 52px 43px;
  margin-bottom: 74px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: inset 8px 8px 32px #c3c3c3,
              inset -8px -8px 32px #fdfdfd;

  img {
    width: 130px;
  }
}

