.feature-card {
  width: 300px;
  height: 447px;
  padding: 63px 40px 52px 43px;
  margin-bottom: 74px;
  border-radius: 30px;
  transition: .2s;
  border: none;


  &:hover {
    background: #fafafa;
    box-shadow: inset 6px 6px 29px #dadada,
                inset -6px -6px 29px #ffffff;
    transition: .2s;
  }

  img {
    width: 130px;
  }
}

