.filter-container {
  width: 100vw;
  // height: 94px;
  background-color: white;
  color: white;
  margin-top: 100px;
  padding: 20px;
  margin-bottom: 20px;

  border-radius: 10px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
  
  .list-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}